<form
  [formGroup]="addTaskForm"
  class="add-task-form mx-auto pt-3 pb-2"
  (ngSubmit)="onSubmit()"
>
  <div class="form-group">
    <mat-form-field floatLabel="never" appearance="outline" class="w-100">
      <mat-label>Title</mat-label>
      <input matInput type="text" [(ngModel)]="title" formControlName="title" />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field floatLabel="never" appearance="outline" class="w-100">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="due_date"
        [(ngModel)]="due_date"
        [min]="minDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <button type="submit" class="btn bg-primary text-white mt-2 form-control">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Save Task
  </button>
  <p *ngIf="showSuccess" class="text-center text-success mt-2">
    New task added!
  </p>
</form>
