<div class="dashboard-container">
  <app-header></app-header>
  <main class="main-content mx-auto mt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div
            class="
              add-task-form-wrapper
              px-4
              pt-3
              pb-4
              bg-white
              border-light
              shadow-sm
              mx-4
              mt-4
            "
          >
            <app-add-task></app-add-task>
          </div>
        </div>
        <div class="col-12">
          <div
            class="
              tasks-list-wrapper
              px-4
              py-5
              bg-white
              border-light
              shadow-sm
              mx-4
              mt-4
            "
          >
            <app-task-list></app-task-list>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
